/* 와이드 pc  */


.videoBox {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute
}

#videoBG {
  position: fixed;
  /*고정=>fixed/ 스크롤처리=>absolute */
  left: 50%;
  top: 50%;
  /*오른쪽, 아래에 여백을 두지않고 꽉차게 표시*/
  width: auto;
  min-width: 100%;
  /*동영상 너비를 꽉차게*/
  height: auto;
  min-height: 100%;
  /*동영상 높이를 꽉차게*/
  transform: translateX(-50%) translateY(-50%);
  z-index: -100;
  /*다른요소보다 아래에 위치*/

}

#imgBG {
  position: fixed;
  /*고정=>fixed/ 스크롤처리=>absolute */
  left: 50%;
  top: 50%;
  /*오른쪽, 아래에 여백을 두지않고 꽉차게 표시*/
  width: auto;
  min-width: 100%;
  /*동영상 너비를 꽉차게*/
  height: auto;
  min-height: 100%;
  /*동영상 높이를 꽉차게*/
  transform: translateX(-50%) translateY(-50%);
  z-index: -100;
  display: none
}




/* 스크롤다운 */

.scroll_down_button {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 0 20px rgba(255, 255, 255, 1);
  font-size: 1.5rem;
  z-index: 10;
}

.scroll_down_button:hover {
  transform: translateX(-50%) scale(1.1);
}

.arrow {
  color: white;
  width: 30px;
  height: 30px;
  animation: down 1.5s infinite;
}

@keyframes down {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(10px);
  }

  60% {
    transform: translateY(5px);
  }
}








#content {
  width: 100%;
  margin: 0 auto;
  background: rgba(255, 255, 255, .8);
  height: auto;
  padding: 170px 150px;
}

#content h2 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  font-size: 6rem;
  color: #fff;
  font-weight: 600;
}


section {
  width: 100%;
  padding: 0 0 100px 0;
  position: relative;
}

#content section h3 {
  padding: 0 0 70px;
  font-size: 3.5rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content section h3 span {
  color: var(--font-color-main);
  font-size: 2.8rem;
  font-weight: 700;
  margin-left: 15px;
  transform: translateY(-15px);
}

.culture {
  width: 100%;
  height: 100%;
}

.culture .contents {
  margin-bottom: 100px;
}

.culture .contents1 {
  display: flex;
  gap: 20px;
  width: 100%;
}

.culture .contents1 li {
  width: 50%;
}


.culture .con1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  gap: 10px;
  grid-template-areas:
    'a a'
    'b c';
}

.culture .item {
  height: 100%;
}

.culture .item1 {
  grid-area: a;
}

.culture .item2 {
  grid-area: b;
}

.culture .item3 {
  grid-area: c;
}


.culture .contents h4 {
  margin-bottom: 20px;
  font-size: 3rem;
  font-weight: 500;
  color: var(--font-color-sub1);
}

.culture .contents .sub_title {
  font-size: 1.88rem;
  margin-bottom: 20px;
  line-height: 2.0rem;
  font-weight: 450;
}

.culture .contents .desc {
  text-align: justify;
  margin: 0 auto 20px;
}

.culture .contents2 h4 {
  text-align: center;
}

.culture .contents2 .sub_title {
  text-align: center;
}

.culture .contents2 .desc {
  text-align: center;
  width: 80%;
}



/* 이미지뷰애니메이션 */
.hideimg {
  position: relative;
  overflow: hidden;
  text-align: center
    /* (선택 사항) 이미지들을 가로 방향으로 중앙 정렬. */
}

.hideimg img {
  width: 100%;
}

.hideimg .hideimg1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translatex(100%);
  transition: transform 0.4s ease-out;
  background: rgba(0, 0, 0, .5)
}


.hideimg .hideimg2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translatex(100%);
  transition: transform 1s ease-out;
}

/* 두 이미지가 겹칠 때 순서 지정 */
.hideimg .hideimg1 {
  transition-delay: 0.3s;
}

.hideimg .hideimg2 {
  /* hideimg보다 0.3초 늦게 애니메이션 시작 */
  transition-delay: 0.6s;
}

/* 뷰포트에 들어왔을 때 적용할 클래스 */
.hideimg .hideimg1.is-active,
.hideimg .hideimg2.is-active {
  transform: translatex(0);
  /* 최종 위치 */
}

.cap {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  z-index: 100;
  font-size: 1.25rem;
  width: 100%;
  text-align: center;
  text-shadow: 0 0 20px #333;
}



/* ****************************************************** */

/* 그리드조각애니메이션 */
.grid-container {
  display: grid;
  /* JavaScript에서 그리드 템플릿을 설정합니다 */
  width: 800px;
  /* 원하는 사진의 너비 */
  height: 600px;
  /* 원하는 사진의 높이 */
  position: relative;
}

.grid-item {
  background-image: url('../images/main/culture3.jpg');
  /* 여기에 박물관 사진 파일명 */
  background-size: 800px 600px;
  /* 사진 크기와 일치 */
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.8s ease, transform 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  /* cubic-bezier는 통통 튀는 듯한 효과 */
}

.grid-item.active {
  opacity: 1;
  transform: scale(1);
}

/* **************************************************8 */

.culture .item3 {
  grid-area: c;
}

.culture .item img {
  width: 100%;
  height: 100%
}

.culture .con2 {
  height: 100%;
  height: 100%;
}

.culture .con2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

.culture .contents2 ul {
  display: flex;
  gap: 10px;
  width: 100%;
}

.culture .contents2 li {
  width: 33.3%;
}

.culture .contents2 img {
  width: 100%;
}


.culture .more_btn {
  position: absolute;
  top: 80px;
  right: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 7px 20px 7px;
  border: 2px solid var(--font-color-point1);
  border-radius: 50px;
  color: var(--font-color-point1);
  font-size: 1.4rem;
  font-weight: 500;
  /* transition: all 0.3s ease; */
}

.culture .more_btn:hover {
  background-color: var(--font-color-point1);
  color: #fff;

}

.culture .btn_arrow {
  width: 25px;
  height: 25px;

  /* 부드러운 애니메이션을 위한 transition 추가 */
  transition: transform 0.3s ease;
}

.culture .more_btn:hover .btn_arrow {
  transform: translateX(10px);
  /* 호버 시 오른쪽으로 5px 이동 */

}



.gastronomy {
  position: relative;
}

.gastronomy .list {}

.gastronomy .list li {
  position: relative;
  margin-bottom: 15px;
  border: 2px solid var(--font-color-main);
  padding: 20px 30px 20px 50px;
  font-size: 1.25rem;
}

.gastronomy .list li::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 100%;
  background: var(--font-color-main);
}

.gastronomy .list h4 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--font-color-sub1);
  margin-bottom: 10px;
}

.gastronomy .food {
  width: 100%;
  position: relative;
}

.gastronomy .food {
  padding: 70px 0 80px;
  border-radius: 30px;
  background: rgba(255, 255, 255, .2);
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, .1);
  backdrop-filter: blur(10px);
}

.gastronomy .swiper-wrapper {
  width: 100%;
  margin-bottom: 30px;
}

.gastronomy .swiper-slide {
  width: 500px;
  height: 500px;
  border-radius: 30px;
  overflow: hidden;
}

.gastronomy .swiper-slide img {
  width: 100%
}

.gastronomy #text {
  text-align: center;
  font-size: 20px;
  text-align: center;
  font-size: 1.5rem;
}

.gastronomy #text dt {
  font-weight: 550;
  font-size: 1.2rem;
  color: var(--font-color-sub1);
}

.gastronomy .bullet {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.gastronomy .swiper-pagination-bullet {
  margin-left: 5px;
  width: 25px;
  height: 25px;
  border: 2px solid var(--font-color-point1);
  background: none;
  opacity: 1
}

.gastronomy .swiper-pagination-bullet-active {
  background: var(--font-color-point1);
  opacity: 1
}

.gastronomy .more_btn {
  position: absolute;
  top: 90px;
  right: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 7px 20px 7px;
  border: 2px solid var(--font-color-point1);
  border-radius: 50px;
  color: var(--font-color-point1);
  font-size: 1.4rem;
  font-weight: 500;
  transition: all 0.3s ease;
}

.gastronomy .more_btn:hover {
  background-color: var(--font-color-point1);
  color: #fff;

}

.gastronomy .btn_arrow {
  width: 25px;
  height: 25px;

  /* 부드러운 애니메이션을 위한 transition 추가 */
  transition: transform 0.3s ease;
}

.gastronomy .more_btn:hover .btn_arrow {
  transform: translateX(10px);
  /* 호버 시 오른쪽으로 5px 이동 */

}


/* ************************************************************************************************************************* */



.nature {
  position: relative;
  margin-top: 70px;
}



.nature .tab_menu {
  width: 100%;
  display: flex;
}

.nature .tab_menu li {
  width: 20%;
}

.nature .tab_menu a {
  width: 100%;
  text-align: center;
  margin: 10px 0;
  transition: all .5s ease-out;
  padding: 10px;
  color: var(--font-color-sub1);
  font-weight: 500;
  font-size: 1.25rem;
}

.nature .tab_menu .tab1,
.nature .tab_menu .tab3,
.nature .tab_menu .tab5 {
  background: rgb(255, 255, 255, .5);
}

.nature .tab_menu .tab2,
.nature .tab_menu .tab4 {
  background: rgb(204, 204, 204, .5);
}

.nature .tab_menu .current {
  background: var(--font-color-main);
  color: #fff;
}


.nature .tab_menu a {
  position: relative;
  transition: all .3s ease-in-out;
}

.nature .tab_menu li:hover a {
  background: var(--font-color-main);
  color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
}


.nature .contlist {
  margin-top: 20px;
}

.nature .contlist ul {
  margin: 0 auto;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 80%;
  align-items: stretch;
}

.nature .contlist li {
  width: 48%;
  overflow: hidden;
  position: relative;
}


.nature .contlist li:nth-of-type(1) {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nature .contlist h4 {
  margin-bottom: 10px;
  font-size: 3rem;
  font-weight: 500;
  color: var(--font-color-sub1);
  margin: 30px 0 20px;
  text-align: center
}

.nature .contlist .desc {
  text-align: center;
  line-height: 1.88rem;
  font-size: 1.25rem;
}

.nature .contlist .cap {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  z-index: 100;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  text-shadow: 0 0 15px #333;
}

.nature .contlist li img {
  width: 100%;
}


.nature .more_btn {
  position: absolute;
  top: 100px;
  right: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 7px 20px 7px;
  border: 2px solid var(--font-color-point1);
  border-radius: 50px;
  color: var(--font-color-point1);
  font-size: 1.4rem;
  font-weight: 500;
  transition: all 0.3s ease;
}

.nature .more_btn:hover {
  background-color: var(--font-color-point1);
  color: #fff;

}

.nature .btn_arrow {
  width: 25px;
  height: 25px;
  transition: transform 0.3s ease;
}

.nature .more_btn:hover .btn_arrow {
  transform: translateX(10px);
}

.nature .title h3 {
  color: #fff;
}

.nature .container {
  position: absolute;
  width: 100%;
  top: 0;
  height: 12000px;
}

.nature .container ul {
  width: 100%;
  top: 0;
  height: 12400px;
}


.video {
  width: 100%;
  background: url(../images/main/nature16.png) right top no-repeat;
  position: relative;
  margin-top: 100px;
}



.video p {
  text-align: center;
  margin-top: -60px;
  font-size: 1.5rem;
}

.video .swiper-container.youtube {
  width: 100%;
  height: 100%;
  padding: 50px 0 40px;
}

.video .swiper-wrapper {}

.video .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 20%;
  border-radius: 10px;
  overflow: hidden;
 


}

.video img {
  width: 100%;
}

/* 스크롤바 트랙 스타일 */
.video .swiper-scrollbar {

  border: 2px solid var(--font-color-point1);
  /* 트랙 배경색 */
  height: 20px;
  /* 트랙 높이 */
  border-radius: 5px;
  /* 트랙 모서리 둥글게 */
  background: none
}

/* 스크롤바 썸(움직이는 부분) 스타일 */
.video .swiper-scrollbar-drag {
  background-color: var(--font-color-point1);
  /* 썸 배경색 */
  border-radius: 5px;
  /* 썸 모서리 둥글게 */

}

.video .more_btn {
  position: absolute;
  top: 110px;
  right: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 7px 20px 7px;
  border: 2px solid var(--font-color-point1);
  border-radius: 50px;
  color: var(--font-color-point1);
  font-size: 1.4rem;
  font-weight: 500;
  transition: all 0.3s ease;
  z-index: 10;
}

.video .more_btn:hover {
  background-color: var(--font-color-point1);
  color: #fff;

}

.video .btn_arrow {
  width: 25px;
  height: 25px;

  /* 부드러운 애니메이션을 위한 transition 추가 */
  transition: transform 0.3s ease;
}

.video .more_btn:hover .btn_arrow {
  transform: translateX(10px);
  /* 호버 시 오른쪽으로 5px 이동 */

}



.gallery {
  width: 100%;
  margin-top: 100px;
  position: relative;
}

.gallery p {
  text-align: center;
  margin-top: -60px;
  font-size: 1.5rem;
  margin-bottom: 50px;
  padding-bottom: 30px;
}



.gallery .container {
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1%;
  grid-template-areas:
    'a b c c'
    'a d d e '
    'f f g h '
    'i i i h '

}

.gallery .g_item {
  overflow: hidden;
  cursor: pointer;
}

.gallery img {
  width: 100%;
  height: 100%;
  transition: all .5s ease-in-out;
  object-fit: cover;
  object-position: center;
  filter: brightness(.7)
}

.gallery .g_item:hover img {
  transform: scale(1.1);
  filter: brightness(1)
}

.gallery .g_item1 {
  grid-area: a;
}

.gallery .g_item2 {
  grid-area: b;
}

.gallery .g_item3 {
  grid-area: c;
}

.gallery .g_item4 {
  grid-area: d;
}

.gallery .g_item5 {
  grid-area: e;
}

.gallery .g_item6 {
  grid-area: f;
}

.gallery .g_item7 {
  grid-area: g;
}

.gallery .g_item8 {
  grid-area: h;
}

.gallery .g_item9 {
  grid-area: i;
}





.gallery .more_btn {
  position: absolute;
  top: 140px;
  right: 150px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 7px 20px 7px;
  border: 2px solid var(--font-color-point1);
  border-radius: 50px;
  color: var(--font-color-point1);
  font-size: 1.4rem;
  font-weight: 500;
  transition: all 0.3s ease;
}

.gallery .more_btn:hover {
  background-color: var(--font-color-point1);
  color: #fff;
}

.gallery .btn_arrow {
  width: 25px;
  height: 25px;

  /* 부드러운 애니메이션을 위한 transition 추가 */
  transition: transform 0.3s ease;
}

.gallery .more_btn:hover .btn_arrow {
  transform: translateX(10px);
  /* 호버 시 오른쪽으로 5px 이동 */
}


/* 일반 pc */
@media screen and (max-width:1280px) {}





/* 테블릿 */
@media screen and (max-width:1024px) {
  html {
    font-size: 18px;
  }

  .scroll_down_button {
    font-size: 1.2rem;
    bottom: 6%;
    width: 40px;
    height: 40px;
  }

  .arrow {
    width: 25px;
    height: 25px;
  }

  @keyframes down {

    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }

    40% {
      transform: translateY(6px);
    }

    60% {
      transform: translateY(5px);
    }
  }


  #contents {
    padding: 100px 90px;
  }

  section {
    padding: 0 0 70px 0
  }

  #content section h3 {
    padding: 0 0 50px;
    font-size: 2.7rem;
  }

  #content section h3 span {
    padding: 0 0 50px;
    font-size: 1.88rem;
    font-weight: 700;
    margin-left: 10px;
    transform: translateY(5px);
  }


  .culture .contents {
    margin-bottom: 70px;
  }

  .culture .contents1 .con1 {
    width: 100%;
  }

  .culture .con2 {
    display: none;
  }

  .culture .contents h4 {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
  }

  .culture .contents .sub_title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    line-height: 1.5rem;
    text-align: center;
    margin-bottom: 30px
  }

  .culture .contents .desc {
    font-size: 1rem;
    text-align: justify;
    width: 100%;
    margin-bottom: 10px
  }

  .culture .contents2 li {
    width: 50%;
  }

  .culture .contents2 li:nth-of-type(3) {
    width: 50%;
    display: none;
  }

  .cap {
    font-size: 1rem;
    bottom: 15px;
  }


  .culture .more_btn {
    gap: 5px;
    padding: 5px 18px 6px;
    border: 1.5px solid var(--font-color-point1);
    border-radius: 40px;
    font-size: 1.2rem;
    font-weight: 500;
  }

  .contents2 ul {
    margin-top: 17px;
  }

  .gastronomy .list li {
    margin-bottom: 10px;
    border: 1.5px solid var(--font-color-main);
    padding: 15px 18px 10px 35px;
    font-size: 1.25rem;
  }

  .gastronomy .list li::after {
    width: 15px;
  }

  .gastronomy .list h4 {
    font-size: 1.6rem;
    margin-bottom: 7px;
  }

  .gastronomy .list p {
    font-size: 1rem;
    margin-bottom: 7px;
    text-align: justify;
  }

  .gastronomy .swiper-slide {
    width: 400px;
    height: 400px;
  }

  .gastronomy .swiper-slide img {
    border-radius: 30px;
  }

  .gastronomy #text {
    margin-top: 15px;
    text-align: center;
    font-size: 1.3rem;
  }

  .gastronomy #text dt {
    font-weight: 550;
    font-size: 1.1rem;
  }

  .gastronomy .bullet {
    margin-bottom: 20px;
  }

  .gastronomy .swiper-pagination-bullet {
    margin-left: 3px;
    width: 20px;
    height: 20px;
  }

  .gastronomy .more_btn {
    gap: 5px;
    padding: 5px 18px 6px;
    border: 1.5px solid var(--font-color-point1);
    border-radius: 40px;
    font-size: 1.2rem;
    font-weight: 500;
  }

  .nature .tab_menu a {
    margin: 7px 0;
    padding: 7px;
    font-weight: 450;
    font-size: 1.1rem;
  }

  .nature .contlist {
    margin-top: 20px;
  }

  .nature .contlist ul {
    width: 100%;
    justify-content: center;
  }


  .nature .contlist li:nth-of-type(1),
  .nature .contlist li:nth-of-type(2) {
    display: none;
  }

  .nature .contlist .cap {
    font-size: 1.2rem;
    bottom: 10px;
    font-weight: 500;
  }

  .nature .contlist .click {
    display: block;
    opacity: .7;
  }

  /* effect.css에 있음 */

  .nature .more_btn {
    gap: 5px;
    padding: 5px 18px 6px;
    border: 1.5px solid var(--font-color-point1);
    border-radius: 40px;
    font-size: 1.2rem;
    font-weight: 500;
    top: 90px;
    right: 0;
    ;
  }

  .video p {
    font-size: 1.3rem;
    padding-bottom: 30px;
  }

  .video .swiper-container.youtube {
    padding: 50px 0
  }

  .video .swiper-scrollbar {
    border: 1.5px solid var(--font-color-point1);
    /* 트랙 배경색 */
    height: 10px;
    /* 트랙 높이 */
    border-radius: 10px;
    /* 트랙 모서리 둥글게 */
  }

  /* 스크롤바 썸(움직이는 부분) 스타일 */
  .video .swiper-scrollbar-drag {
    background-color: var(--font-color-point1);
    /* 썸 배경색 */
    border-radius: 5px;
    /* 썸 모서리 둥글게 */
  }



  .video .more_btn {
    gap: 5px;
    padding: 5px 18px 6px;
    border: 1.5px solid var(--font-color-point1);
    border-radius: 40px;
    font-size: 1.2rem;
    font-weight: 500;
    top: 130px;
  }




  .gallery .container {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'a b c'
      'a d d'
      'f f g'
      'i i i'
  }

  .gallery p {
    font-size: 1.3rem;
    padding-bottom: 30px;
  }

  .gallery .gallery .g_item {
    overflow: hidden;
    cursor: pointer;
    transition: transform .3s ease-in-out;
  }

  .gallery img {
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out
  }

  .gallery .g_item:hover {
    z-index: 100;
  }

  .gallery .g_item:hover img {
    transform: scale(1.1);
    box-shadow: 0 0 0 20px rgb(0, 0, 0, .7);
    z-index: 100;
  }

  .gallery .g_item1 {
    grid-area: a;
  }

  .gallery .g_item2 {
    grid-area: b;
  }

  .gallery .g_item3 {
    grid-area: c;
  }

  .gallery .g_item4 {
    grid-area: d;
  }

  .gallery .g_item5 {
    grid-area: auto;
  }

  .gallery .g_item6 {
    grid-area: f;
  }

  .gallery .g_item7 {
    grid-area: g;
  }

  .gallery .g_item8 {
    grid-area: auto;
  }

  .gallery .g_item9 {
    grid-area: i;
  }

  .gallery .g_item5,
  .gallery .g_item8 {
    display: none;
  }




  .gallery .more_btn {
    gap: 5px;
    padding: 5px 18px 6px;
    border: 1.5px solid var(--font-color-point1);
    border-radius: 40px;
    font-size: 1.2rem;
    font-weight: 500;
    right: 0;
    top: 130px;
  }
}


/* 소형 테블릿 햄버거메뉴등장*/
@media screen and (max-width:768px) {
  html {
    font-size: 16px;
  }

  .scroll_down_button {
    font-size: 1.2rem;
    bottom: 6%;
    width: 40px;
    height: 40px;
  }

  #content {
    padding: 90px 40px;
  }

  .culture .contents2 li {
    width: 50%;
  }

  .culture .contents2 li:nth-of-type(3) {
    width: 50%;
    display: none;
  }
}

/* 모바일 */
@media screen and (max-width:640px) {
  html {
    font-size: 16px;
  }

  .cap {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }

  #content {
    padding: 90px 20px;
  }

  #content section h3 {
    padding: 0 0 50px;
  }

  #content section h3 span {
    padding: 0 0 50px;
    font-weight: 700;
    margin-left: 7px;
    transform: translateY(8px);
  }

  .culture .contents h4 {
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
  }

  .culture .contents .sub_title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 5px;
    line-height: 1.5rem;
    text-align: center;
    margin-bottom: 30px
  }

  .culture .contents .desc {
    font-size: 1rem;
    text-align: justify;
    width: 100%;
    margin-bottom: 5px;
    line-height: 1.5rem;
    display: none;
  }


  .culture .con1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    /* 첫 번째 행은 콘텐츠 높이, 두 번째 행은 남은 공간 차지 */
    gap: 10px;
    grid-template-areas:
      'a '
      'b ';
  }

  .culture .item {
    height: 100%;
  }

  .culture .item1 {
    grid-area: a;
  }

  .culture .item2 {
    grid-area: b;
  }

  .culture .item3 {
    grid-area: auto;
  }

  .culture .item3 {
    display: none;
  }

  .culture .contents2 li {
    width: 100%;
  }

  .culture .contents2 li:nth-of-type(2),
  .culture .contents2 li:nth-of-type(3) {
    display: none;
  }

  .culture .more_btn {
    gap: 3px;
    padding: 5px 15px 7px;
    border: 1px solid var(--font-color-point1);
    font-size: 1.2rem;
    font-weight: 500;
    top: 70px;
    border-radius: 30px;
  }

  .culture .btn_arrow {
    width: 20px;
    height: 20px;
  }

  .culture .more_btn:hover .btn_arrow {
    transform: translateX(10px);
  }

  .gastronomy .food {
    padding: 40px 0 60px;
  }

  .gastronomy .list li {
    padding: 10px 30px 5px;
  }

  .gastronomy .list li h4 {
    font-size: 1.5rem;
  }

  .gastronomy .list li p {
    display: none;
  }

  .gastronomy .swiper-slide {
    width: 300px;
    height: 300px;
  }

  .gastronomy .bullet {
    margin-bottom: 0;
  }

  .gastronomy .swiper-pagination-bullet {
    margin-left: 2px;
    width: 15px;
    height: 15px;
  }

  .gastronomy #text dd {
    margin-top: 5px
  }

  #content .gastronomy .more_btn {
    gap: 3px;
    padding: 5px 15px 7px;
    border: 1px solid var(--font-color-point1);
    font-size: 1.2rem;
    font-weight: 500;
    top: 80px;
    border-radius: 30px;
  }

  .gastronomy .btn_arrow {
    width: 15px;
    height: 15px;
  }

  .gastronomy .more_btn:hover .btn_arrow {
    transform: translateX(10px);
  }


  .nature {
    overflow: hidden;
  }

  .nature .nature_box {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: -20px;
  }

  .nature .tab_menu {
    width: 90px;
    display: block;
  }

  .nature .tab_menu ul {
    width: 100%;
    display: block;
    gap: 5px;
  }

  .nature .tab_menu li {
    width: 100%;
  }

  .nature .tab_menu li a {
    width: 100%;
    display: block;
  }

  .nature .contlist {
    margin-top: 0;
  }

  .nature .contlist ul {
    width: 100%;
    display: block
  }

  .nature .contlist li {
    width: 100%
  }

  .nature .contlist li:nth-of-type(3) {
    display: none;
  }

  .nature .tab_menu a {
    font-weight: 400;
    font-size: 1rem;
  }


  .nature .more_btn {
    gap: 3px;
    padding: 5px 15px 7px;
    border: 1px solid var(--font-color-point1);
    font-size: 1.2rem;
    font-weight: 500;
    top: 60px;
    border-radius: 30px;

  }

  .nature .btn_arrow {
    width: 20px;
    height: 20px;
  }

  .nature .more_btn:hover .btn_arrow {
    transform: translateX(10px);
  }


  .video .swiper-container.youtube {
    padding: 30px 0 30px;
  }

  .video {
    padding-bottom: 10px;
    ;
  }

  .video .swiper-scrollbar {
    border: 1px solid var(--font-color-point1);
    height: 7px;
    /* 트랙 높이 */
    border-radius: 5px;
    /* 트랙 모서리 둥글게 */
  }



  /* 스크롤바 썸(움직이는 부분) 스타일 */
  .video .swiper-scrollbar-drag {
    background-color: var(--font-color-point1);
    /* 썸 배경색 */
    border-radius: 5px;
    /* 썸 모서리 둥글게 */
  }

  .video .more_btn {
    gap: 3px;
    padding: 5px 15px 7px;
    border: 1px solid var(--font-color-point1);
    font-size: 1.2rem;
    font-weight: 500;
    top: 130px;
    border-radius: 30px;
    right: 0;
  }

  .video .btn_arrow {
    width: 20px;
    height: 20px;
  }

  .video .more_btn:hover .btn_arrow {
    transform: translateX(10px);
  }


  .gallery p {
    padding-bottom: 10px;
  }

  .gallery .container {

    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'a c'
      'a d'
      'f h '
      'g h '
  }


  /* 없어지는 아이템 auto  display:none   아까 없어진거 다시 살리기  display block */
  .gallery .g_item {
    overflow: hidden;
    cursor: pointer;
  }

  .gallery .g_item:hover img {
    transform: scale(1.2);
  }

  .gallery img {
    width: 100%;
    height: 100%;
    transition: all .5s ease-in-out;
  }

  .gallery .g_item1 {
    grid-area: a;
  }

  .gallery .g_item2 {
    grid-area: auto;
  }

  .gallery .g_item3 {
    grid-area: c;
  }

  .gallery .g_item4 {
    grid-area: d;
  }

  .gallery .g_item5 {
    grid-area: auto;
  }

  .gallery .g_item6 {
    grid-area: f;
  }

  .gallery .g_item7 {
    grid-area: g;
  }

  .gallery .g_item8 {
    grid-area: h;
  }

  .gallery .g_item9 {
    grid-area: auto;
  }

  .gallery .g_item2,
  .gallery .g_item5,
  .gallery .g_item9 {
    display: none;
  }

  .gallery .g_item8 {
    display: block;
  }


  .gallery img {
    object-fit: cover
  }

  .gallery .g_item9 img {
    object-position: left;
  }


  .gallery .more_btn {
    gap: 3px;
    padding: 5px 15px 7px;
    border: 1px solid var(--font-color-point1);
    font-size: 1.2rem;
    font-weight: 500;
    top: 130px;
    border-radius: 30px;
    right: 0;
  }

  .gallery .btn_arrow {
    width: 20px;
    height: 20px;
  }

  .gallery .more_btn:hover .btn_arrow {
    transform: translateX(10px);
  }




}