/* 와이드 pc  */


.videoBox {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute
}

#imgBG {
  position: fixed;
  /*고정=>fixed/ 스크롤처리=>absolute */
  left: 50%;
  top: 50%;
  /*오른쪽, 아래에 여백을 두지않고 꽉차게 표시*/
  width: auto;
  min-width: 100%;
  /*동영상 너비를 꽉차게*/
  height: auto;
  min-height: 100%;
  /*동영상 높이를 꽉차게*/
  transform: translateX(-50%) translateY(-50%);
  z-index: -100;
}

/* 스크롤다운 */

.scroll_down_button {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 0 20px rgba(255, 255, 255, 1);
  font-size: 1.5rem;
  z-index: 10;
}

.scroll_down_button:hover {
  transform: translateX(-50%) scale(1.1);
}

.arrow {
  color: white;
  width: 30px;
  height: 30px;
  animation: down 1.5s infinite;
}

@keyframes down {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(10px);
  }

  60% {
    transform: translateY(5px);
  }
}



#contents {
  width: 100%;
  margin: 0 auto;
  height: auto;
  background: #fff;
  padding: 170px 150px 0;
  overflow: hidden;
}

#contents h2 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  font-size: 6rem;
  color: #fff;
  font-weight: 600;
}

#contents h2 span {
  color: #fff;
  font-size: 4rem;
  font-weight: 600;
  margin-left: 15px;
}

#contents section {
  margin: 200px 0;
}

#contents section h3 {
  font-size: 3.5rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

#contents section h4 {
  font-weight: 550;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 30px;
  color: var(--font-color-sub1);
}

#contents .desc {
  text-align: center;
}

#contents .sub_title {
  font-size: 1.88rem;
  line-height: 2.5rem;
  font-weight: 500;
  padding: 10px 0 10px;
  display: block;
  text-align: center;
}

.logo {
  text-align: center;
  margin-bottom: 50px;
}

.logo img {}

/* 텍스트 무한루프 */
.marquee-container {
  /* 텍스트가 스크롤되는 영역의 크기 */
  width: 100%;
  overflow: hidden;
  /* 영역 밖으로 나가는 텍스트 숨기기 */
  white-space: nowrap;
  /* 텍스트가 줄 바꿈되지 않도록 설정 */
  box-sizing: border-box;
  border: 1px solid #ccc;
  /* 경계선 (선택 사항) */
  padding: 20px 0;
  /* 패딩 (선택 사항) */
  background: #333;
}

.marquee-content {
  /* 텍스트가 옆으로 나열되도록 인라인 블록으로 설정 */
  display: inline-block;
}

.original-text {
  /* 텍스트의 크기 및 스타일 (선택 사항) */
  font-size: 2rem;
  color: #E4E4F4;
  font-weight: 500;
  /* 텍스트를 복사해도 구별할 수 있도록 배경색 추가 (선택 사항) */
  /* background-color: #f0f0f0; */
}


.video_list {
  width: 100%;
  background: #E4E4F4;
}


.video {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 4%;
  margin: 0 auto;
  padding: 100px 0;
}

.imgPart {
  width: 48%;
  position: relative;
  cursor: pointer;
  margin-bottom: 100px
}

.imgPart strong {
  color: var(--font-color-sub1);
  font-size: 1.5rem;
  display: block;
  padding: 10px 20px;
  text-align: center;
}

.imgPart p {
  text-align: center;
}

.imgPart .popup-youtube>img {
  width: 100%;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .3)
}

.popup-youtube {
  position: relative;
}

.playBnt {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 15%;
  opacity: .5;
  transition: all .5s ease-out;
  filter: drop-shadow(0 0 10px var(--font-color-point1));
}

.playBnt>img {
  width: 100%;
  display: block;
}

.imgPart:hover .playBnt {
  opacity: 1;

}



/* 일반 pc */
@media screen and (max-width:1280px) {}


/* 테블릿 */
@media screen and (max-width:1024px) {
  html {
    font-size: 18px;
  }

  .scroll_down_button {
    font-size: 1.2rem;
    bottom: 6%;
    width: 40px;
    height: 40px;
  }

  .arrow {
    width: 25px;
    height: 25px;
  }

  @keyframes down {

    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }

    40% {
      transform: translateY(6px);
    }

    60% {
      transform: translateY(5px);
    }
  }

  #contents {
    padding: 100px 60px;
  }

  #contents section {
    margin: 170px 0;
  }

  #contents h2 {
    font-size: 4rem
  }

  #contents h2 span {
    font-size: 2.5rem;
    margin-left: 10px;
    font-weight: 650;
  }

  #contents section h3 {
    padding: 50px 0 50px;
    font-size: 3rem;
    margin-bottom: 30px;
  }

  #contents section h4 {
    font-weight: 550;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
  }

  #contents .sub_title {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 500;
  }


  .logo {
    margin-bottom: 30px;
    transform: scale(.7) translateX(-10px);
  }

  .marquee-container {
    padding: 15px 0;
  }

  .original-text {
    font-size: 1.4rem;
  }

  .video {
    width: 90%;
    padding: 70px 0;
    gap: 3%;
  }

  .imgPart {
    margin-bottom: 70px
  }
}

/* 소형 테블릿 */
@media screen and (max-width:768px) {
  html {
    font-size: 16px;
  }

  #contents {
    padding: 90px 40px 0
  }

  #contents section {
    margin: 100px 0 70px;
  }

  #contents h2 {
    font-size: 3.5rem
  }

  #contents h2 span {
    font-size: 2.5rem;
    margin-left: 5px;
    font-weight: 600;
  }

  #contents section h3 {
    padding: 20px 0 20px;
    font-size: 3.5rem;
    margin-bottom: 10px;
  }

  #contents h4 {
    font-size: 2rem;
    font-weight: 550;
  }

  #contents .sub_title {
    font-size: 1.88rem;
    line-height: 2.5rem;
    font-weight: 450;
    margin-bottom: 5px;
  }

  .logo {
    margin-bottom: 10px;
    transform: scale(.5) translateX(-30px);
  }

  .video {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 50px 0;
  }

  .imgPart {
    width: 100%
  }
}

.imgPart strong {
  padding: 10px 0 5px;
  font-size: 1.3rem;
}


/* 모바일 */
@media screen and (max-width:640px) {
  #contents {
    padding: 70px 0 0;
  }

  #contents section {
    margin: 60px 0 30px;
  }

  #contents section h3 {
    padding: 20px 0 0;
    font-size: 2.5rem;
  }

  #contents section h4 {
    font-size: 2rem;
    font-weight: 550;
    margin-bottom: 10px;
    line-height: 2.7rem;
  }

  #contents .sub_title {
    font-size: 1.3rem;
    line-height: 1.7rem;
    margin-bottom: 10px;
    font-weight: 450;
  }

  .original-text {
    font-size: 1.2rem;
  }

  .imgPart {
    margin-bottom: 70px
  }

  .video {
    width: 90%;
  }







}