.visual {
    position: relative;
}

.visual img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
}

.visual span {
    position: absolute;
    top: 60%;
    left: 20%;
    font-size: 1.8rem;
    color: #fff;
    transform: translate(-50%, -50%);
    border-bottom: 2px dotted #fff;
    padding-bottom: 3px;
}



.sub_nav {
    margin-top: 50px;
    padding: 0 15px;

}

.sub_nav ul {
    display: flex;

    width: 100%;
    margin: 0 auto;

}

.sub_nav ul li {
    width: 33.33%;
    box-sizing: border-box;
    text-align: center;
}

.sub_nav ul li a {
    font-size: 1.15rem;
    font-weight: 600;
    padding: 10px 0;
    border-radius: 50px;
    background: var(--font-color-sub3);
    transition: all .8s ease-out;


}

.sub_nav ul li a:hover,
.sub_nav ul li a.current {
    background: var(--font-color-main);
    color: #fff;
    font-weight: 400
}


#contentArea {
    width: 100%;


}

#contentArea .title_area {
    position: relative;
    margin: 0 auto;
    padding: 50px 0 10px;

}

#contentArea .title_area h2 {
    position: relative;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin: 10px 0;
}




#contentArea .title_area span {
    display: block;
    font-size: 50px;
    font-weight: 600;
    color: var(--font-color-point2);
    text-align: center;
}




#contentArea .content_area {

    padding: 5px 0;
    width: 100%;
    position: relative;
    margin-top: 50px
}

#contentArea .content_area .main_con {
    width: 100%;
    min-height: 500px;
    background: url(../images/sub1_2/sub1_content2_1.png) left center no-repeat;
    background-size: cover;
}


#contentArea .content_area .content1 {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    width: 85%;
    padding: 15px 15px;
    background: #fff;
    border-radius: 10px;
    text-align: justify;
    font-size: 1.1rem;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, .1);
    font-weight: 500;


}

#contentArea .content_area .content1 strong:nth-of-type(1) {
    color: var(--font-color-point1);
}

#contentArea .content_area .content2 {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    width: 80%;
    padding: 15px 15px 5px;
    border-radius: 30px;
    text-align: center;
    font-size: 1.5rem;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, .1);
    display: flex;
    flex-flow: column;
    background-size: cover;
    background: #fff;


}

#contentArea .content_area .content2 .time {
    display: flex;


}

#contentArea .content_area .content2 .time span {
    font-size: 3rem;
    background: -webkit-linear-gradient(to bottom, var(--font-color-main) 0%, var(--font-color-point1) 100%);
    background: -moz-linear-gradient(to bottom, var(--font-color-main) 0%, var(--font-color-point1) 100%);
    background: -o-linear-gradient(to bottom, var(--font-color-main) 0%, var(--font-color-point1) 100%);
    background: linear-gradient(to bottom, var(--font-color-main) 0%, var(--font-color-point1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-variation-settings:
        'FILL' 1
}

#contentArea .content_area .content2 .time p {
    font-size: 1.88rem;
    background: -webkit-linear-gradient(to bottom, var(--font-color-main) 0%, var(--font-color-point1) 100%);
    background: -moz-linear-gradient(to bottom, var(--font-color-main) 0%, var(--font-color-point1) 100%);
    background: -o-linear-gradient(to bottom, var(--font-color-main) 0%, var(--font-color-point1) 100%);
    background: linear-gradient(to bottom, var(--font-color-main) 0%, var(--font-color-point1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    margin-top: 2px;
    margin-left: 10px;
}


#contentArea .content_area .content2 table {
    width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 10px;
}

#contentArea .content_area .content2 table th,
td {
    padding: 10px 10px;
    text-align: left;
}

#contentArea .content_area .content2 table th {
    font-size: 1rem;
    padding: 10px;
    width: 70px;
}

#contentArea .content_area .content2 table td span {
    font-size: .8rem;
    line-height: 1.2rem;
}

#contentArea .content_area .content2 table tr {
    border-bottom: 2px dotted #999;
}

#contentArea .content_area .content2 table tbody tr:nth-of-type(2) {
    border: 0
}



/* 관람료 */
.content_area .content3 {
    width: 100%;
    margin: 0 auto;
    padding: 80px 0 70px;
    clear: both;
}

#contentArea .content_area .content3 .price {
    display: flex;
    padding: 0 10px;
    margin: 0 20px;

}



#contentArea .content_area .content3 .price span {
    font-size: 3rem;
    background: -webkit-linear-gradient(to bottom, var(--font-color-main) 0%, var(--font-color-point1) 100%);
    background: -moz-linear-gradient(to bottom, var(--font-color-main) 0%, var(--font-color-point1) 100%);
    background: -o-linear-gradient(to bottom, var(--font-color-main) 0%, var(--font-color-point1) 100%);
    background: linear-gradient(to bottom, var(--font-color-main) 0%, var(--font-color-point1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-variation-settings:
        'FILL' 1
}

#contentArea .content_area .content3 .price p {
    font-size: 1.88rem;
    background: -webkit-linear-gradient(to bottom, var(--font-color-main) 0%, var(--font-color-point1) 100%);
    background: -moz-linear-gradient(to bottom, var(--font-color-main) 0%, var(--font-color-point1) 100%);
    background: -o-linear-gradient(to bottom, var(--font-color-main) 0%, var(--font-color-point1) 100%);
    background: linear-gradient(to bottom, var(--font-color-main) 0%, var(--font-color-point1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    margin-top: 2px;
    margin-left: 10px;
}

.content_area .content3 #content_nav {
    width: 100%;
    height: 70px;
    padding: 10px 0 20px;
}

.content_area .content3 .tab_menu {
    display: flex;
    gap: 1%;
    justify-content: center;
    height: 40px;
    margin-left: 2px;
}

.content_area .content3 .tab_menu li {
    width: 22%;
}

.content_area .content3 .tab_menu li a {
    background: #333;
    padding: 5px 0 7px 0;
    font-size: .9rem;
    color: #fff;
    transition: all .3s;
    border-radius: 5px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_area .content3 .tab_menu li a:hover,
.content_area .content3 .tab_menu li a.current {
    background: var(--font-color-point2);
    color: #333;
    font-weight: 500;
    margin-bottom: 50px;
}

.content_area .content3 .contlist {
    width: 100%;
    display: none;
}

.content_area .content3 .contlist h4 {
    font-size: 1.3rem;
    color: var(--font-color-main);
    font-weight: 500;
    margin: 5px 0 5px;
}

.content_area .content3 .contlist .description {
    font-size: 1.1rem;
    margin: 5px 20px;
}

.content_area .content3 .contlist table {
    width: 92%;
    font-size: .8rem;
    line-height: 1.5rem;
    margin: 0 20px;
}

.content_area .content3 .contlist table th,
.content_area .content3 .contlist table td {
    padding: 5px 4px 5px 5px;
    border: 1px solid #ccc;
    text-align: center;
}

.content_area .content3 .contlist table th {
    border-top: 2px solid #333;
    border-bottom: 1.5px solid #333;
    padding: 10px 5px;
    font-weight: 500;
    font-size: 1rem;
}

.content_area .content3 .contlist table .no_border_left {
    border-left: 0;
    background: #fff7e1;
    ;
    font-weight: 500;
}

.content_area .content3 .contlist table .no_border_right {
    border-right: 0;
}

.content_area .content3 .contlist table .align_left {
    text-align: left;
    padding-left: 10px;
    line-height: 1.5rem;
}

.content_area .content3 .contlist table .no_back {
    background: none;
}

.content_area .content3 .contlist table .border_bottom {
    border-bottom: 1.5px solid #333
}