.visual {
  position: relative;
}

.visual img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

.visual span {
  position: absolute;
  top: 60%;
  left: 20%;
  font-size: 1.8rem;
  color: #fff;
  transform: translate(-50%, -50%);
  border-bottom: 2px dotted #fff;
  padding-bottom: 3px;
}



.sub_nav {
  margin-top: 50px;
  padding: 0 15px;

}

.sub_nav ul {
  display: flex;

  width: 70%;
  margin: 0 auto;

}

.sub_nav ul li {
  width: 50%;
  box-sizing: border-box;
  text-align: center;
}

.sub_nav ul li a {
  font-size: 1.15rem;
  font-weight: 600;
  padding: 10px 0;
  border-radius: 50px;
  background: var(--font-color-sub3);
  transition: all .8s ease-out;


}

.sub_nav ul li a:hover,
.sub_nav ul li a.current {
  background: var(--font-color-main);
  color: #fff;

}


#contentArea {
  width: 100%;


}

#contentArea .title_area {
  position: relative;
  margin: 0 auto;
  padding: 50px 0 10px;

}

#contentArea .title_area h2 {
  position: relative;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin: 10px 0;
}




#contentArea .title_area span {
  display: block;
  font-size: 50px;
  font-weight: 600;
  color: var(--font-color-point2);
  text-align: center;
}



#contentArea .content_area {
  position: relative;
  width: 100%;
  margin: 0 auto;

}

.content_area .educate {
  width: 100%;
  position: relative;

}


.content_area .educate .educate_back {

  width: 95%;
  height: 250px;
  margin: 0 auto;
  background: url(../images/sub4_1/sub4_content1_22.jpg) top left no-repeat;
  background-size: cover;
  Mix-blend-mode: overlay;
  font-size: 10rem;
  color: #000;
  border-radius: 20px;
}

.content_area .educate .educate_text {
  padding: 10px 0 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, .4);
  backdrop-filter: blur(7px);
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.loading {
  width: 200px;
  display: flex;
  justify-content: space-evenly;
}

.loading span {
  font-size: 3rem;
  font-weight: 700;
  display: inline-block;
  color: #053863;

  animation: loading 1.4s infinite alternate;
}

.loading span:nth-child(2) {
  animation-delay: .1s;
  color: #044E7C;
}

.loading span:nth-child(3) {
  animation-delay: .2s;
  color: #036192
}

.loading span:nth-child(4) {
  animation-delay: .3s;
  color: #0374A8
}

.loading span:nth-child(5) {
  animation-delay: .4s;
  color: #027CB1
}

.loading span:nth-child(6) {
  animation-delay: .5s;
  color: #0284BA
}

.loading span:nth-child(7) {
  animation-delay: .6s;
  color: #0293CC
}

.loading span:nth-child(8) {
  animation-delay: .7s;
  color: #01A5E0
}

@keyframes loading {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


.content_area .educate .educate_text p {
  padding: 10px 20px;
  width: 90%;
  margin: 0 auto;
  font-size: 1.3rem;
  text-align: justify;

  line-height: 2rem;
  color: #222;
  font-weight: 450;
}

.content_area .educate2 {
  width: 95%;
  margin: 50px auto;
}

.content_area .educate2 .tab_menu {
  display: flex;
  gap: 7px;
  justify-content: center;
  margin-bottom: 50px;
  flex-wrap: wrap;
  padding-left: 20px;
}

.content_area .educate2 .tab_menu li a {
  background: #333;
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 7px;
  font-size: 1rem;
  box-sizing: border-box;
  border: 1.5px dashed rgba(0, 0, 0, 0);
}

.content_area .educate2 .tab_menu li:hover a,
.content_area .educate2 .tab_menu li a.current {
  background: var(--font-color-point2);
  color: #333;
  font-weight: 500;
  border: 1.5px dashed #999;
  box-sizing: border-box;
}

.content_area .educate2 .contlist {
  margin: 0 auto;
  display: block;
  background: #f7f7f7;
  padding: 20px 20px 20px;
  border: 1.5px dashed #999;
  border-radius: 20px;
}

.content_area .educate2 .contlist h3 {
  font-size: 1.7rem;
  color: var(--font-color-main);
  margin-bottom: 10px;
  font-weight: 500;
}

.content_area .educate2 .contlist h3 span {
  font-size: 3rem;
  color: var(--font-color-main);
  margin-bottom: 10px;
  margin-right: 10px;
  color: var(--font-color-point1);
  transform: translateY(11px);
}

.content_area .educate2 .contlist .description {
  font-size: 1.25rem;
  margin-bottom: 20px;
}


.content_area .educate2 .contlist .educate {
  display: flex;
}

.content_area .educate2 .contlist .swiper-wrapper {}

.content_area .educate2 .contlist .swiper-slide {
  position: relative;
  overflow: hidden;
  width: 70%;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content_area .educate2 .contlist .swiper-slide img {
  width: 100%;
  border-radius: 10px;
  ;
  box-sizing: border-box;

  border: 3px solid var(--font-color-point2);
  padding: 7px 7px;
}

.content_area .educate2 .contlist dl {
  width: 100%;
}

.content_area .educate2 .contlist dt {
  color: var(--font-color-main);
  font-weight: 500;
  font-size: 1.3rem;
  text-align: center;
  margin-top: 10px;
}

.swiper-pagination {}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: #666;
}

.swiper-pagination-bullet-active {
  background: var(--font-color-point2);
  opacity: 1
}