
#contentArea .content_area {

    width: 1400px;
    padding-bottom: 150px;
    margin: 0 auto;
}

#contentArea .content_area .bbs_box {}

#contentArea .content_area .bbs_top {
    display: flex;
}

#contentArea .content_area .bbs_top p {
    flex-grow: 1;
}

#contentArea .content_area ul {
    display: flex;
}

#contentArea .content_area ul li {
    width: 44px;
    height: 42px;
    background: #999;
}

#contentArea .content_area select {
    width: 150px;
}

#contentArea .content_area table {
    width: 1400px;
}

#contentArea .content_area table tr {
    height: 70px;
}